*.lo
*.o
*.orig
.deps/
.libs/
po/*.gmo
po/messages.mo
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h.in~
/config.h.in
/config.h
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/mkinstalldirs
/libtool
/stamp-h1
/Makefile.in
cipher/Makefile.in
compat/Makefile.in
doc/Makefile.in
m4/Makefile.in
mpi/Makefile.in
random/Makefile.in
src/Makefile.in
tests/Makefile.in
/Makefile
m4/Makefile
cipher/Makefile
cipher/libcipher.la
compat/Makefile
compat/libcompat.la
doc/gcrypt.??
doc/gcrypt.aux
doc/gcrypt.cps
doc/gcrypt.dvi
doc/gcrypt.fns
doc/gcrypt.html/
doc/gcrypt.info
doc/gcrypt.log
doc/gcrypt.pdf
doc/gcrypt.toc
doc/mdate-sh
doc/texinfo.tex
doc/stamp-vti
doc/version.texi
doc/Makefile
doc/fips-fsm.eps
doc/fips-fsm.pdf
doc/fips-fsm.png
doc/hmac256.1
doc/libgcrypt-modules.eps
doc/libgcrypt-modules.pdf
doc/libgcrypt-modules.png
doc/yat2m
doc/yat2m-stamp
mpi/Makefile
mpi/asm-syntax.h
mpi/libmpi.la
mpi/mod-source-info.h
mpi/mpi-asm-defs.h
mpi/mpih-add1-asm.S
mpi/mpih-lshift-asm.S
mpi/mpih-mul1-asm.S
mpi/mpih-mul2-asm.S
mpi/mpih-mul3-asm.S
mpi/mpih-rshift-asm.S
mpi/mpih-sub1-asm.S
mpi/sysdep.h
random/Makefile
random/librandom.la
src/Makefile
src/dumpsexp
src/gcrypt.h
src/hmac256
src/libgcrypt-config
src/libgcrypt.la
src/versioninfo.rc
tags
TAGS
tests/Makefile
tests/ac
tests/ac-data
tests/ac-schemes
tests/aeswrap
tests/basic
tests/benchmark
tests/curves
tests/fips186-dsa
tests/fipsdrv
tests/hmac
tests/keygen
tests/keygrip
tests/mpitests
tests/pkcs1v2
tests/prime
tests/pubkey
tests/random
tests/register
tests/rsacvt
tests/t-kdf
tests/t-mpi-bit
tests/t-mpi-point
tests/tsexp
tests/version
